In [15]:
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt

In [35]:
data = pd.read_csv("FinalData.csv")

In [36]:
data.head()

,song,artist,lyrics
0,most people are good,luke bryan,i believe kids oughta stay kids as long as th...
1,that's my kind of night,luke bryan,i got that real good feel good stuff~up under...
2,light it up,luke bryan,i open my eyes reach for the phone~not a word...
3,play it again,luke bryan,she was sittin' all alone over on the tailgat...
4,to the moon and back,luke bryan,through the dirt and the gravel~through the y...

In [38]:
data['genre'] = 0

In [39]:
for i in range(0, data.shape[0]):
    if(i>= 0 and i<750):
        data.genre.loc[i] = 'country'
    elif (i>=750 and i<1500):
        data.genre.loc[i] = 'pop'
    elif (i>=1500 and i<2250):
        data.genre.loc[i] = 'rap'
    elif (i>=2250 and i<=2999):
        data.genre.loc[i] = 'rock'

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [40]:
for i in range(0, data.shape[0]):
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('.', '') 
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('-', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace(';', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace(')', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('(', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('!', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('?', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('  ', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('+', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace("'", '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('/', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace(':', '')
    data.lyrics.loc[i] = data.lyrics.loc[i].replace('~~', '~')

In [41]:
#WPL - Average number of words per line
#Unique PL - Unique words per line

wpl = np.empty((data.shape[0],0),int)
upl = np.empty((data.shape[0],0),int)
for i in range(0,data.shape[0]):
    new = data.iloc[i]['lyrics'].split('~')
    count = np.empty((len(new),0), int)
    countUW = np.empty((len(new),0), int)
    for j in range(0, len(new)):
        count = np.append(count,len(new[j].split()))
        countUW = np.append(countUW, len(set(new[j].split())))
    wpl = np.append(wpl, math.ceil(count.mean()))
    upl = np.append(upl, math.ceil(countUW.mean()))
upl.shape

(3000,)

In [42]:
#Token ratio - Ratio of unique words to total number of words
token = np.empty((data.shape[0],0),float)
for i in range (0, data.shape[0]):
    new = data.iloc[i]['lyrics'].replace('~',' ')
    total = len(new.split())
    if (total == 0):
        print(i)
        print(total)
    unique = len(set(new.split()))
    token = np.append(token, (unique/total))
token.shape

(3000,)

In [43]:
#Mean WL - Average number of characters in a word
mwl = np.empty((data.shape[0],0), float)
for i in range (0, data.shape[0]):
    new = data.iloc[i]['lyrics'].replace('~',' ')
    wl = np.empty((len(new),0), int)
    total = new.split()
    for j in range(0, len(total)):
        word = total[j].replace("'", '')
        word = word.replace("-", '')
        word = word.replace(")", '')
        word = word.replace("(", '')
        wl = np.append(wl, len(set(word)))
    mwl = np.append(mwl, wl.mean())
mwl.shape

(3000,)

In [44]:
#Total - Total number of words in the song
total = np.empty((data.shape[0],0), int)
for i in range (0, data.shape[0]):
    new = data.iloc[i]['lyrics'].replace('~',' ')
    t = new.split()
    total = np.append(total, len(t))
total.shape

(3000,)

In [45]:
data['WPL'] = wpl
data['Unique WPL'] = upl
data['Token ratio'] = token
data['Mean word length'] = mwl
data['Total'] = total
data.head()

,song,artist,lyrics,genre,WPL,Unique WPL,Token ratio,Mean word length,Total
0,most people are good,luke bryan,i believe kids oughta stay kids as long as th...,country,9,9,0.375375,3.624625,333
1,that's my kind of night,luke bryan,i got that real good feel good stuff~up under...,country,10,9,0.327273,3.462338,385
2,light it up,luke bryan,i open my eyes reach for the phone~not a word...,country,7,7,0.351974,3.299342,304
3,play it again,luke bryan,she was sittin all alone over on the tailgate...,country,10,9,0.327907,3.313953,430
4,to the moon and back,luke bryan,through the dirt and the gravel~through the y...,country,6,5,0.407216,3.587629,194

In [46]:
test=data.copy()

In [47]:
#Normalization
#WPL
minWPL = test.WPL.min()
maxWPL = test.WPL.max()
print(minWPL, maxWPL)
test['WPL'] = (test['WPL'] - minWPL)/ (maxWPL - minWPL)

#Unique WPL
minUWPL = test['Unique WPL'].min()
maxUWPL = test['Unique WPL'].max()
print(minUWPL, maxUWPL)
test['Unique WPL'] = (test['Unique WPL'] - minUWPL)/ (maxUWPL - minUWPL)

#Mean word length
minMean = test['Mean word length'].min()
maxMean = test['Mean word length'].max()
print(minMean, maxMean)
test['Mean word length'] = (test['Mean word length'] - minMean)/ (maxMean - minMean)

#Total
minTot = test.Total.min()
maxTot = test.Total.max()
test['Total'] = (test['Total'] - minTot)/ (maxTot - minTot)

3 15
3 13
2.692015209125475 4.85625

In [48]:
data.head()

,song,artist,lyrics,genre,WPL,Unique WPL,Token ratio,Mean word length,Total
0,most people are good,luke bryan,i believe kids oughta stay kids as long as th...,country,9,9,0.375375,3.624625,333
1,that's my kind of night,luke bryan,i got that real good feel good stuff~up under...,country,10,9,0.327273,3.462338,385
2,light it up,luke bryan,i open my eyes reach for the phone~not a word...,country,7,7,0.351974,3.299342,304
3,play it again,luke bryan,she was sittin all alone over on the tailgate...,country,10,9,0.327907,3.313953,430
4,to the moon and back,luke bryan,through the dirt and the gravel~through the y...,country,6,5,0.407216,3.587629,194

In [49]:
test.head()

,song,artist,lyrics,genre,WPL,Unique WPL,Token ratio,Mean word length,Total
0,most people are good,luke bryan,i believe kids oughta stay kids as long as th...,country,0.500000,0.6,0.375375,0.430919,0.151136
1,that's my kind of night,luke bryan,i got that real good feel good stuff~up under...,country,0.583333,0.6,0.327273,0.355933,0.175243
2,light it up,luke bryan,i open my eyes reach for the phone~not a word...,country,0.333333,0.4,0.351974,0.280620,0.137691
3,play it again,luke bryan,she was sittin all alone over on the tailgate...,country,0.583333,0.6,0.327907,0.287371,0.196106
4,to the moon and back,luke bryan,through the dirt and the gravel~through the y...,country,0.250000,0.2,0.407216,0.413825,0.086694

In [17]:
# test.to_csv(r'FinalNorm.csv', index=None)